.layout-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.content-area {
  flex-grow: 1;
  display: flex;
  background-color: #f6f8fb;
  overflow-y: auto;
}
